In [32]:
from pymongo import MongoClient
from pprint import pprint

from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup as bs

import os
import pandas as pd
import time

In [33]:
conn = 'mongodb://localhost:27017'
client = MongoClient(conn)

In [34]:
db = client.pymongo_test

In [35]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [36]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [37]:
html = browser.html
soup = bs(html, 'html.parser')

news_title = soup.find("div",class_="content_title").text
news_paragraph = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_paragraph}")

Title: NASA's Mars 2020 Gets a Dose of Space Here on Earth
Para: NASA's Mars 2020 spacecraft has completed tests that are the best Earthly approximations of what the spacecraft will endure during launch and interplanetary cruise.

In [38]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=featured#submit'
browser.visit(featured_image_url)

In [39]:
mars_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_url)

In [40]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")

In [41]:
mars_weather =soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

InSight sol 176 (2019-05-26) low -100.3ºC (-148.6ºF) high -19.9ºC (-3.9ºF)
winds from the W at 4.2 m/s (9.5 mph) gusting to 15.9 m/s (35.6 mph)
pressure at 7.50 hPapic.twitter.com/rI1XSUC5yf

In [42]:
mars_facts_url ='https://space-facts.com/mars/'
browser.visit(mars_facts_url)

In [43]:
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [44]:
type(tables)

list

In [45]:
df_mars_facts = tables[0]
df_mars_facts.columns

Int64Index([0, 1], dtype='int64')

In [46]:
df_mars_facts = tables[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [48]:
html_table = df.to_html()
html_table

NameError: name 'df' is not defined

In [ ]:
df.to_html('table.html')

In [ ]:
! start table.html

In [ ]:
mars_hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_hemispheres_url)

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
]